[mysqld_multi]   				 
mysqld = /usr/local/mysql/bin/mysqld_safe   	
mysqladmin = /usr/local/mysql/bin/mysqladmin 	
user = root   					

[mysqld1]  		 
port           = 3307  	
datadir = /data3307 	
socket  = /data3307/mysql.sock   
pid-file =  /data3307/mysqld.pid    	
log-error = /data3307/mysqld.err  

[mysqld2]  		 
port           = 3308  	
datadir = /data3308 	
socket  = /data3308/mysql.sock   
pid-file =  /data3308/mysqld.pid    	
log-error = /data3308/mysqld.err  
